This is the **Digital Assessment** - 1 for the Laboratory course for Machine Learning (BCSE209L) <br> 
***
The task is to create a dataset and then perform: <br>
1 - Data Manipulation <br>
2 - Data Pre-Processing <br>
3 - Implement Find-S and Candidate Elimination Algorithm <br>

In [24]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

# Load the dataset
df = pd.read_csv(r'C:\Users\iamaa\Downloads\database.csv')
df

,Name,Branch,Degree,Summer Internship,Credits Completed,Credits Required,Backlog/Arrear,Age,CGPA,Eligible for placements
0,Aarav Patel,Computer Science,B.Tech,Yes,140,151,No,21.0,8.3,Yes
1,Isha Sharma,NaN,M.Tech,No,145,161,No,23.0,8.7,Yes
2,Ravi Kumar,Mechanical,B.Tech,Yes,130,151,No,22.0,7.9,No
3,Ananya Gupta,Computer Science,M.Tech,Yes,160,161,No,24.0,9.0,Yes
4,Aryan Singh,Mechanical,B.Tech,No,125,151,Yes,NaN,6.8,No
5,Saanvi Rao,Electrical,B.Tech,Yes,155,151,No,21.0,8.5,Yes
6,Vihaan Mehta,Computer Science,B.Tech,No,120,151,No,22.0,8.0,No
7,Diya Verma,Electrical,M.Tech,Yes,150,161,No,NaN,8.9,Yes
8,Kartik Agarwal,Mechanical,M.Tech,No,135,161,No,24.0,NaN,No
9,Aanya Joshi,Computer Science,B.Tech,Yes,145,151,No,21.0,8.6,Yes
10,Arjun Nair,Electrical,B.Tech,No,130,151,Yes,22.0,7.2,No
11,Sneha Reddy,Mechanical,M.Tech,Yes,160,161,No,23.0,9.1,Yes
12,Shivam Kapoor,Computer Science,B.Tech,Yes,140,151,No,21.0,8.4,Yes
13,Madhuri Rao,Electrical,M.Tech,No,125,161,Yes,24.0,6.9,No
14,Karan Sharma,Mechanical,B.Tech,No,120,151,No,22.0,7.8,No
15,Tanya Patel,NaN,M.Tech,Yes,155,161,No,23.0,9.2,Yes
16,Rajeev Kumar,Electrical,B.Tech,Yes,145,151,No,21.0,8.3,Yes
17,Naina Jain,Mechanical,M.Tech,No,135,161,Yes,24.0,NaN,No
18,Kabir Singh,Computer Science,B.Tech,No,130,151,No,22.0,8.0,No
19,Shruti Mehta,Electrical,B.Tech,Yes,150,151,No,21.0,8.8,Yes
20,Ishaan Agarwal,Mechanical,M.Tech,Yes,155,161,No,23.0,8.6,Yes
21,Ritika Verma,Computer Science,B.Tech,No,125,151,Yes,22.0,NaN,No
22,Rohan Gupta,Electrical,M.Tech,Yes,160,161,No,24.0,9.0,Yes
23,Pooja Joshi,Mechanical,B.Tech,Yes,135,151,No,21.0,8.2,Yes
24,Aditya Patel,Computer Science,M.Tech,No,140,161,No,23.0,7.9,No
25,Meera Sharma,Electrical,B.Tech,Yes,145,151,No,NaN,8.6,Yes
26,Kabir Sharma,Mechanical,B.Tech,No,120,151,No,21.0,7.7,No
27,Aditi Nair,Computer Science,M.Tech,Yes,150,161,No,24.0,9.1,Yes
28,Ravi Verma,NaN,M.Tech,No,135,161,Yes,23.0,7.0,No
29,Nikhil Joshi,Mechanical,B.Tech,Yes,140,151,No,22.0,8.5,Yes
30,Swati Kumar,Computer Science,B.Tech,No,130,151,Yes,NaN,6.9,No
31,Kriti Agarwal,Electrical,M.Tech,Yes,155,161,No,24.0,9.2,Yes
32,Vikram Singh,Mechanical,M.Tech,No,125,161,Yes,23.0,7.4,No
33,Neha Rao,Computer Science,B.Tech,Yes,150,151,No,21.0,8.7,Yes
34,Jai Patel,NaN,B.Tech,No,120,151,Yes,22.0,6.8,No
35,Riya Sharma,Mechanical,B.Tech,Yes,135,151,No,21.0,8.0,Yes

**1 - Data Manipulation Operations** <br>
<br>
A - Insert New Sample <br>
B - Delete Particular Sample <br>
C - Update Particular Sample <br>

In [25]:
# A - Insert New Sample 

# New sample
new_sample = pd.DataFrame({
    'Name': ['Raghav Mittal'],
    'Branch': ['Computer Science'],
    'Degree': ['B.Tech'],
    'Summer Internship': ['No'],
    'Credits Completed': [125],
    'Credits Required': [151],
    'Backlog/Arrear': ['Yes'],
    'Age': [22],
    'CGPA': [7.5],
    'Eligible for placements': ['No']
})

# Concatenate the new sample
df = pd.concat([df, new_sample], ignore_index=True)
df

,Name,Branch,Degree,Summer Internship,Credits Completed,Credits Required,Backlog/Arrear,Age,CGPA,Eligible for placements
0,Aarav Patel,Computer Science,B.Tech,Yes,140,151,No,21.0,8.3,Yes
1,Isha Sharma,NaN,M.Tech,No,145,161,No,23.0,8.7,Yes
2,Ravi Kumar,Mechanical,B.Tech,Yes,130,151,No,22.0,7.9,No
3,Ananya Gupta,Computer Science,M.Tech,Yes,160,161,No,24.0,9.0,Yes
4,Aryan Singh,Mechanical,B.Tech,No,125,151,Yes,NaN,6.8,No
5,Saanvi Rao,Electrical,B.Tech,Yes,155,151,No,21.0,8.5,Yes
6,Vihaan Mehta,Computer Science,B.Tech,No,120,151,No,22.0,8.0,No
7,Diya Verma,Electrical,M.Tech,Yes,150,161,No,NaN,8.9,Yes
8,Kartik Agarwal,Mechanical,M.Tech,No,135,161,No,24.0,NaN,No
9,Aanya Joshi,Computer Science,B.Tech,Yes,145,151,No,21.0,8.6,Yes
10,Arjun Nair,Electrical,B.Tech,No,130,151,Yes,22.0,7.2,No
11,Sneha Reddy,Mechanical,M.Tech,Yes,160,161,No,23.0,9.1,Yes
12,Shivam Kapoor,Computer Science,B.Tech,Yes,140,151,No,21.0,8.4,Yes
13,Madhuri Rao,Electrical,M.Tech,No,125,161,Yes,24.0,6.9,No
14,Karan Sharma,Mechanical,B.Tech,No,120,151,No,22.0,7.8,No
15,Tanya Patel,NaN,M.Tech,Yes,155,161,No,23.0,9.2,Yes
16,Rajeev Kumar,Electrical,B.Tech,Yes,145,151,No,21.0,8.3,Yes
17,Naina Jain,Mechanical,M.Tech,No,135,161,Yes,24.0,NaN,No
18,Kabir Singh,Computer Science,B.Tech,No,130,151,No,22.0,8.0,No
19,Shruti Mehta,Electrical,B.Tech,Yes,150,151,No,21.0,8.8,Yes
20,Ishaan Agarwal,Mechanical,M.Tech,Yes,155,161,No,23.0,8.6,Yes
21,Ritika Verma,Computer Science,B.Tech,No,125,151,Yes,22.0,NaN,No
22,Rohan Gupta,Electrical,M.Tech,Yes,160,161,No,24.0,9.0,Yes
23,Pooja Joshi,Mechanical,B.Tech,Yes,135,151,No,21.0,8.2,Yes
24,Aditya Patel,Computer Science,M.Tech,No,140,161,No,23.0,7.9,No
25,Meera Sharma,Electrical,B.Tech,Yes,145,151,No,NaN,8.6,Yes
26,Kabir Sharma,Mechanical,B.Tech,No,120,151,No,21.0,7.7,No
27,Aditi Nair,Computer Science,M.Tech,Yes,150,161,No,24.0,9.1,Yes
28,Ravi Verma,NaN,M.Tech,No,135,161,Yes,23.0,7.0,No
29,Nikhil Joshi,Mechanical,B.Tech,Yes,140,151,No,22.0,8.5,Yes
30,Swati Kumar,Computer Science,B.Tech,No,130,151,Yes,NaN,6.9,No
31,Kriti Agarwal,Electrical,M.Tech,Yes,155,161,No,24.0,9.2,Yes
32,Vikram Singh,Mechanical,M.Tech,No,125,161,Yes,23.0,7.4,No
33,Neha Rao,Computer Science,B.Tech,Yes,150,151,No,21.0,8.7,Yes
34,Jai Patel,NaN,B.Tech,No,120,151,Yes,22.0,6.8,No
35,Riya Sharma,Mechanical,B.Tech,Yes,135,151,No,21.0,8.0,Yes
36,Raghav Mittal,Computer Science,B.Tech,No,125,151,Yes,22.0,7.5,No

In [26]:
# b - Delete Particular Sample 

# Deleting the record with name Swati Kumar 

df = df[df['Name'] != 'Swati Kumar']
df

,Name,Branch,Degree,Summer Internship,Credits Completed,Credits Required,Backlog/Arrear,Age,CGPA,Eligible for placements
0,Aarav Patel,Computer Science,B.Tech,Yes,140,151,No,21.0,8.3,Yes
1,Isha Sharma,NaN,M.Tech,No,145,161,No,23.0,8.7,Yes
2,Ravi Kumar,Mechanical,B.Tech,Yes,130,151,No,22.0,7.9,No
3,Ananya Gupta,Computer Science,M.Tech,Yes,160,161,No,24.0,9.0,Yes
4,Aryan Singh,Mechanical,B.Tech,No,125,151,Yes,NaN,6.8,No
5,Saanvi Rao,Electrical,B.Tech,Yes,155,151,No,21.0,8.5,Yes
6,Vihaan Mehta,Computer Science,B.Tech,No,120,151,No,22.0,8.0,No
7,Diya Verma,Electrical,M.Tech,Yes,150,161,No,NaN,8.9,Yes
8,Kartik Agarwal,Mechanical,M.Tech,No,135,161,No,24.0,NaN,No
9,Aanya Joshi,Computer Science,B.Tech,Yes,145,151,No,21.0,8.6,Yes
10,Arjun Nair,Electrical,B.Tech,No,130,151,Yes,22.0,7.2,No
11,Sneha Reddy,Mechanical,M.Tech,Yes,160,161,No,23.0,9.1,Yes
12,Shivam Kapoor,Computer Science,B.Tech,Yes,140,151,No,21.0,8.4,Yes
13,Madhuri Rao,Electrical,M.Tech,No,125,161,Yes,24.0,6.9,No
14,Karan Sharma,Mechanical,B.Tech,No,120,151,No,22.0,7.8,No
15,Tanya Patel,NaN,M.Tech,Yes,155,161,No,23.0,9.2,Yes
16,Rajeev Kumar,Electrical,B.Tech,Yes,145,151,No,21.0,8.3,Yes
17,Naina Jain,Mechanical,M.Tech,No,135,161,Yes,24.0,NaN,No
18,Kabir Singh,Computer Science,B.Tech,No,130,151,No,22.0,8.0,No
19,Shruti Mehta,Electrical,B.Tech,Yes,150,151,No,21.0,8.8,Yes
20,Ishaan Agarwal,Mechanical,M.Tech,Yes,155,161,No,23.0,8.6,Yes
21,Ritika Verma,Computer Science,B.Tech,No,125,151,Yes,22.0,NaN,No
22,Rohan Gupta,Electrical,M.Tech,Yes,160,161,No,24.0,9.0,Yes
23,Pooja Joshi,Mechanical,B.Tech,Yes,135,151,No,21.0,8.2,Yes
24,Aditya Patel,Computer Science,M.Tech,No,140,161,No,23.0,7.9,No
25,Meera Sharma,Electrical,B.Tech,Yes,145,151,No,NaN,8.6,Yes
26,Kabir Sharma,Mechanical,B.Tech,No,120,151,No,21.0,7.7,No
27,Aditi Nair,Computer Science,M.Tech,Yes,150,161,No,24.0,9.1,Yes
28,Ravi Verma,NaN,M.Tech,No,135,161,Yes,23.0,7.0,No
29,Nikhil Joshi,Mechanical,B.Tech,Yes,140,151,No,22.0,8.5,Yes
31,Kriti Agarwal,Electrical,M.Tech,Yes,155,161,No,24.0,9.2,Yes
32,Vikram Singh,Mechanical,M.Tech,No,125,161,Yes,23.0,7.4,No
33,Neha Rao,Computer Science,B.Tech,Yes,150,151,No,21.0,8.7,Yes
34,Jai Patel,NaN,B.Tech,No,120,151,Yes,22.0,6.8,No
35,Riya Sharma,Mechanical,B.Tech,Yes,135,151,No,21.0,8.0,Yes
36,Raghav Mittal,Computer Science,B.Tech,No,125,151,Yes,22.0,7.5,No

In [27]:
# c - Update Particular Sample 

# Updating the CGPA of Jai Patel to 8.5

df.loc[df['Name'] == 'Jai Patel', 'CGPA'] = 8.5
df

,Name,Branch,Degree,Summer Internship,Credits Completed,Credits Required,Backlog/Arrear,Age,CGPA,Eligible for placements
0,Aarav Patel,Computer Science,B.Tech,Yes,140,151,No,21.0,8.3,Yes
1,Isha Sharma,NaN,M.Tech,No,145,161,No,23.0,8.7,Yes
2,Ravi Kumar,Mechanical,B.Tech,Yes,130,151,No,22.0,7.9,No
3,Ananya Gupta,Computer Science,M.Tech,Yes,160,161,No,24.0,9.0,Yes
4,Aryan Singh,Mechanical,B.Tech,No,125,151,Yes,NaN,6.8,No
5,Saanvi Rao,Electrical,B.Tech,Yes,155,151,No,21.0,8.5,Yes
6,Vihaan Mehta,Computer Science,B.Tech,No,120,151,No,22.0,8.0,No
7,Diya Verma,Electrical,M.Tech,Yes,150,161,No,NaN,8.9,Yes
8,Kartik Agarwal,Mechanical,M.Tech,No,135,161,No,24.0,NaN,No
9,Aanya Joshi,Computer Science,B.Tech,Yes,145,151,No,21.0,8.6,Yes
10,Arjun Nair,Electrical,B.Tech,No,130,151,Yes,22.0,7.2,No
11,Sneha Reddy,Mechanical,M.Tech,Yes,160,161,No,23.0,9.1,Yes
12,Shivam Kapoor,Computer Science,B.Tech,Yes,140,151,No,21.0,8.4,Yes
13,Madhuri Rao,Electrical,M.Tech,No,125,161,Yes,24.0,6.9,No
14,Karan Sharma,Mechanical,B.Tech,No,120,151,No,22.0,7.8,No
15,Tanya Patel,NaN,M.Tech,Yes,155,161,No,23.0,9.2,Yes
16,Rajeev Kumar,Electrical,B.Tech,Yes,145,151,No,21.0,8.3,Yes
17,Naina Jain,Mechanical,M.Tech,No,135,161,Yes,24.0,NaN,No
18,Kabir Singh,Computer Science,B.Tech,No,130,151,No,22.0,8.0,No
19,Shruti Mehta,Electrical,B.Tech,Yes,150,151,No,21.0,8.8,Yes
20,Ishaan Agarwal,Mechanical,M.Tech,Yes,155,161,No,23.0,8.6,Yes
21,Ritika Verma,Computer Science,B.Tech,No,125,151,Yes,22.0,NaN,No
22,Rohan Gupta,Electrical,M.Tech,Yes,160,161,No,24.0,9.0,Yes
23,Pooja Joshi,Mechanical,B.Tech,Yes,135,151,No,21.0,8.2,Yes
24,Aditya Patel,Computer Science,M.Tech,No,140,161,No,23.0,7.9,No
25,Meera Sharma,Electrical,B.Tech,Yes,145,151,No,NaN,8.6,Yes
26,Kabir Sharma,Mechanical,B.Tech,No,120,151,No,21.0,7.7,No
27,Aditi Nair,Computer Science,M.Tech,Yes,150,161,No,24.0,9.1,Yes
28,Ravi Verma,NaN,M.Tech,No,135,161,Yes,23.0,7.0,No
29,Nikhil Joshi,Mechanical,B.Tech,Yes,140,151,No,22.0,8.5,Yes
31,Kriti Agarwal,Electrical,M.Tech,Yes,155,161,No,24.0,9.2,Yes
32,Vikram Singh,Mechanical,M.Tech,No,125,161,Yes,23.0,7.4,No
33,Neha Rao,Computer Science,B.Tech,Yes,150,151,No,21.0,8.7,Yes
34,Jai Patel,NaN,B.Tech,No,120,151,Yes,22.0,8.5,No
35,Riya Sharma,Mechanical,B.Tech,Yes,135,151,No,21.0,8.0,Yes
36,Raghav Mittal,Computer Science,B.Tech,No,125,151,Yes,22.0,7.5,No

**2 - Data Pre-Processing** <br><br>

A - Find Number of Missing Value <br>
B - Replace missing values by mean, median and mode operations <br> 
C - Apply encoding techniques for: <br> 
    i. independent variables <br> 
    ii. Dependent variables

In [28]:
missing_values = df.isnull().sum()
print(missing_values)

Name                       0
Branch                     4
Degree                     0
Summer Internship          0
Credits Completed          0
Credits Required           0
Backlog/Arrear             0
Age                        3
CGPA                       3
Eligible for placements    0
dtype: int64

In [29]:
#B - Replace missing values by mean, median and mode operations

# Replace missing values with mean - CGPA
df.loc[:, 'CGPA'] = df['CGPA'].fillna(df['CGPA'].mean())

# Replace missing values with median - Age
df.loc[:, 'Age'] = df['Age'].fillna(df['Age'].median())

# Replace missing values with mode - Branch
df.loc[:, 'Branch'] = df['Branch'].fillna(df['Branch'].mode()[0])

df

,Name,Branch,Degree,Summer Internship,Credits Completed,Credits Required,Backlog/Arrear,Age,CGPA,Eligible for placements
0,Aarav Patel,Computer Science,B.Tech,Yes,140,151,No,21.0,8.300000,Yes
1,Isha Sharma,Mechanical,M.Tech,No,145,161,No,23.0,8.700000,Yes
2,Ravi Kumar,Mechanical,B.Tech,Yes,130,151,No,22.0,7.900000,No
3,Ananya Gupta,Computer Science,M.Tech,Yes,160,161,No,24.0,9.000000,Yes
4,Aryan Singh,Mechanical,B.Tech,No,125,151,Yes,22.0,6.800000,No
5,Saanvi Rao,Electrical,B.Tech,Yes,155,151,No,21.0,8.500000,Yes
6,Vihaan Mehta,Computer Science,B.Tech,No,120,151,No,22.0,8.000000,No
7,Diya Verma,Electrical,M.Tech,Yes,150,161,No,22.0,8.900000,Yes
8,Kartik Agarwal,Mechanical,M.Tech,No,135,161,No,24.0,8.251515,No
9,Aanya Joshi,Computer Science,B.Tech,Yes,145,151,No,21.0,8.600000,Yes
10,Arjun Nair,Electrical,B.Tech,No,130,151,Yes,22.0,7.200000,No
11,Sneha Reddy,Mechanical,M.Tech,Yes,160,161,No,23.0,9.100000,Yes
12,Shivam Kapoor,Computer Science,B.Tech,Yes,140,151,No,21.0,8.400000,Yes
13,Madhuri Rao,Electrical,M.Tech,No,125,161,Yes,24.0,6.900000,No
14,Karan Sharma,Mechanical,B.Tech,No,120,151,No,22.0,7.800000,No
15,Tanya Patel,Mechanical,M.Tech,Yes,155,161,No,23.0,9.200000,Yes
16,Rajeev Kumar,Electrical,B.Tech,Yes,145,151,No,21.0,8.300000,Yes
17,Naina Jain,Mechanical,M.Tech,No,135,161,Yes,24.0,8.251515,No
18,Kabir Singh,Computer Science,B.Tech,No,130,151,No,22.0,8.000000,No
19,Shruti Mehta,Electrical,B.Tech,Yes,150,151,No,21.0,8.800000,Yes
20,Ishaan Agarwal,Mechanical,M.Tech,Yes,155,161,No,23.0,8.600000,Yes
21,Ritika Verma,Computer Science,B.Tech,No,125,151,Yes,22.0,8.251515,No
22,Rohan Gupta,Electrical,M.Tech,Yes,160,161,No,24.0,9.000000,Yes
23,Pooja Joshi,Mechanical,B.Tech,Yes,135,151,No,21.0,8.200000,Yes
24,Aditya Patel,Computer Science,M.Tech,No,140,161,No,23.0,7.900000,No
25,Meera Sharma,Electrical,B.Tech,Yes,145,151,No,22.0,8.600000,Yes
26,Kabir Sharma,Mechanical,B.Tech,No,120,151,No,21.0,7.700000,No
27,Aditi Nair,Computer Science,M.Tech,Yes,150,161,No,24.0,9.100000,Yes
28,Ravi Verma,Mechanical,M.Tech,No,135,161,Yes,23.0,7.000000,No
29,Nikhil Joshi,Mechanical,B.Tech,Yes,140,151,No,22.0,8.500000,Yes
31,Kriti Agarwal,Electrical,M.Tech,Yes,155,161,No,24.0,9.200000,Yes
32,Vikram Singh,Mechanical,M.Tech,No,125,161,Yes,23.0,7.400000,No
33,Neha Rao,Computer Science,B.Tech,Yes,150,151,No,21.0,8.700000,Yes
34,Jai Patel,Mechanical,B.Tech,No,120,151,Yes,22.0,8.500000,No
35,Riya Sharma,Mechanical,B.Tech,Yes,135,151,No,21.0,8.000000,Yes
36,Raghav Mittal,Computer Science,B.Tech,No,125,151,Yes,22.0,7.500000,No

In [30]:
# C - Apply Encoding Techniques: 

# 1 - For Independent Variables 

df_encoded = pd.get_dummies(df, columns=['Branch', 'Degree', 'Summer Internship', 'Backlog/Arrear'])
df_encoded

,Name,Credits Completed,Credits Required,Age,CGPA,Eligible for placements,Branch_Computer Science,Branch_Electrical,Branch_Mechanical,Degree_B.Tech,Degree_M.Tech,Summer Internship_No,Summer Internship_Yes,Backlog/Arrear_No,Backlog/Arrear_Yes
0,Aarav Patel,140,151,21.0,8.300000,Yes,True,False,False,True,False,False,True,True,False
1,Isha Sharma,145,161,23.0,8.700000,Yes,False,False,True,False,True,True,False,True,False
2,Ravi Kumar,130,151,22.0,7.900000,No,False,False,True,True,False,False,True,True,False
3,Ananya Gupta,160,161,24.0,9.000000,Yes,True,False,False,False,True,False,True,True,False
4,Aryan Singh,125,151,22.0,6.800000,No,False,False,True,True,False,True,False,False,True
5,Saanvi Rao,155,151,21.0,8.500000,Yes,False,True,False,True,False,False,True,True,False
6,Vihaan Mehta,120,151,22.0,8.000000,No,True,False,False,True,False,True,False,True,False
7,Diya Verma,150,161,22.0,8.900000,Yes,False,True,False,False,True,False,True,True,False
8,Kartik Agarwal,135,161,24.0,8.251515,No,False,False,True,False,True,True,False,True,False
9,Aanya Joshi,145,151,21.0,8.600000,Yes,True,False,False,True,False,False,True,True,False
10,Arjun Nair,130,151,22.0,7.200000,No,False,True,False,True,False,True,False,False,True
11,Sneha Reddy,160,161,23.0,9.100000,Yes,False,False,True,False,True,False,True,True,False
12,Shivam Kapoor,140,151,21.0,8.400000,Yes,True,False,False,True,False,False,True,True,False
13,Madhuri Rao,125,161,24.0,6.900000,No,False,True,False,False,True,True,False,False,True
14,Karan Sharma,120,151,22.0,7.800000,No,False,False,True,True,False,True,False,True,False
15,Tanya Patel,155,161,23.0,9.200000,Yes,False,False,True,False,True,False,True,True,False
16,Rajeev Kumar,145,151,21.0,8.300000,Yes,False,True,False,True,False,False,True,True,False
17,Naina Jain,135,161,24.0,8.251515,No,False,False,True,False,True,True,False,False,True
18,Kabir Singh,130,151,22.0,8.000000,No,True,False,False,True,False,True,False,True,False
19,Shruti Mehta,150,151,21.0,8.800000,Yes,False,True,False,True,False,False,True,True,False
20,Ishaan Agarwal,155,161,23.0,8.600000,Yes,False,False,True,False,True,False,True,True,False
21,Ritika Verma,125,151,22.0,8.251515,No,True,False,False,True,False,True,False,False,True
22,Rohan Gupta,160,161,24.0,9.000000,Yes,False,True,False,False,True,False,True,True,False
23,Pooja Joshi,135,151,21.0,8.200000,Yes,False,False,True,True,False,False,True,True,False
24,Aditya Patel,140,161,23.0,7.900000,No,True,False,False,False,True,True,False,True,False
25,Meera Sharma,145,151,22.0,8.600000,Yes,False,True,False,True,False,False,True,True,False
26,Kabir Sharma,120,151,21.0,7.700000,No,False,False,True,True,False,True,False,True,False
27,Aditi Nair,150,161,24.0,9.100000,Yes,True,False,False,False,True,False,True,True,False
28,Ravi Verma,135,161,23.0,7.000000,No,False,False,True,False,True,True,False,False,True
29,Nikhil Joshi,140,151,22.0,8.500000,Yes,False,False,True,True,False,False,True,True,False
31,Kriti Agarwal,155,161,24.0,9.200000,Yes,False,True,False,False,True,False,True,True,False
32,Vikram Singh,125,161,23.0,7.400000,No,False,False,True,False,True,True,False,False,True
33,Neha Rao,150,151,21.0,8.700000,Yes,True,False,False,True,False,False,True,True,False
34,Jai Patel,120,151,22.0,8.500000,No,False,False,True,True,False,True,False,False,True
35,Riya Sharma,135,151,21.0,8.000000,Yes,False,False,True,True,False,False,True,True,False
36,Raghav Mittal,125,151,22.0,7.500000,No,True,False,False,True,False,True,False,False,True

In [31]:
# C - Apply Encoding Techniques: 

# 1 - For Dependent Variables 

label_encoder = LabelEncoder()
df_encoded['Eligible for placements'] = label_encoder.fit_transform(df_encoded['Eligible for placements'])
df_encoded

,Name,Credits Completed,Credits Required,Age,CGPA,Eligible for placements,Branch_Computer Science,Branch_Electrical,Branch_Mechanical,Degree_B.Tech,Degree_M.Tech,Summer Internship_No,Summer Internship_Yes,Backlog/Arrear_No,Backlog/Arrear_Yes
0,Aarav Patel,140,151,21.0,8.300000,1,True,False,False,True,False,False,True,True,False
1,Isha Sharma,145,161,23.0,8.700000,1,False,False,True,False,True,True,False,True,False
2,Ravi Kumar,130,151,22.0,7.900000,0,False,False,True,True,False,False,True,True,False
3,Ananya Gupta,160,161,24.0,9.000000,1,True,False,False,False,True,False,True,True,False
4,Aryan Singh,125,151,22.0,6.800000,0,False,False,True,True,False,True,False,False,True
5,Saanvi Rao,155,151,21.0,8.500000,1,False,True,False,True,False,False,True,True,False
6,Vihaan Mehta,120,151,22.0,8.000000,0,True,False,False,True,False,True,False,True,False
7,Diya Verma,150,161,22.0,8.900000,1,False,True,False,False,True,False,True,True,False
8,Kartik Agarwal,135,161,24.0,8.251515,0,False,False,True,False,True,True,False,True,False
9,Aanya Joshi,145,151,21.0,8.600000,1,True,False,False,True,False,False,True,True,False
10,Arjun Nair,130,151,22.0,7.200000,0,False,True,False,True,False,True,False,False,True
11,Sneha Reddy,160,161,23.0,9.100000,1,False,False,True,False,True,False,True,True,False
12,Shivam Kapoor,140,151,21.0,8.400000,1,True,False,False,True,False,False,True,True,False
13,Madhuri Rao,125,161,24.0,6.900000,0,False,True,False,False,True,True,False,False,True
14,Karan Sharma,120,151,22.0,7.800000,0,False,False,True,True,False,True,False,True,False
15,Tanya Patel,155,161,23.0,9.200000,1,False,False,True,False,True,False,True,True,False
16,Rajeev Kumar,145,151,21.0,8.300000,1,False,True,False,True,False,False,True,True,False
17,Naina Jain,135,161,24.0,8.251515,0,False,False,True,False,True,True,False,False,True
18,Kabir Singh,130,151,22.0,8.000000,0,True,False,False,True,False,True,False,True,False
19,Shruti Mehta,150,151,21.0,8.800000,1,False,True,False,True,False,False,True,True,False
20,Ishaan Agarwal,155,161,23.0,8.600000,1,False,False,True,False,True,False,True,True,False
21,Ritika Verma,125,151,22.0,8.251515,0,True,False,False,True,False,True,False,False,True
22,Rohan Gupta,160,161,24.0,9.000000,1,False,True,False,False,True,False,True,True,False
23,Pooja Joshi,135,151,21.0,8.200000,1,False,False,True,True,False,False,True,True,False
24,Aditya Patel,140,161,23.0,7.900000,0,True,False,False,False,True,True,False,True,False
25,Meera Sharma,145,151,22.0,8.600000,1,False,True,False,True,False,False,True,True,False
26,Kabir Sharma,120,151,21.0,7.700000,0,False,False,True,True,False,True,False,True,False
27,Aditi Nair,150,161,24.0,9.100000,1,True,False,False,False,True,False,True,True,False
28,Ravi Verma,135,161,23.0,7.000000,0,False,False,True,False,True,True,False,False,True
29,Nikhil Joshi,140,151,22.0,8.500000,1,False,False,True,True,False,False,True,True,False
31,Kriti Agarwal,155,161,24.0,9.200000,1,False,True,False,False,True,False,True,True,False
32,Vikram Singh,125,161,23.0,7.400000,0,False,False,True,False,True,True,False,False,True
33,Neha Rao,150,151,21.0,8.700000,1,True,False,False,True,False,False,True,True,False
34,Jai Patel,120,151,22.0,8.500000,0,False,False,True,True,False,True,False,False,True
35,Riya Sharma,135,151,21.0,8.000000,1,False,False,True,True,False,False,True,True,False
36,Raghav Mittal,125,151,22.0,7.500000,0,True,False,False,True,False,True,False,False,True

In [32]:
# Extract features and target
X = df.drop('Eligible for placements', axis=1).values
y = df['Eligible for placements'].values

# Convert to list of examples
examples = np.hstack((X, y.reshape(-1, 1))).tolist()

# Find-S Algorithm
def find_s(examples, target_attribute):
    # Initialize the hypothesis with the most specific hypothesis
    hypothesis = ['?' for _ in range(len(examples[0]) - 1)]
    
    for example in examples:
        if example[-1] == target_attribute:
            for i in range(len(hypothesis)):
                if hypothesis[i] == '?' or hypothesis[i] == example[i]:
                    hypothesis[i] = example[i]
                else:
                    hypothesis[i] = '?'
                    
    return hypothesis

# Candidate Elimination Algorithm
def candidate_elimination(examples, target_attribute):
    specific_hypothesis = ['?' for _ in range(len(examples[0]) - 1)]
    general_hypotheses = [['?' for _ in range(len(examples[0]) - 1)]]
    
    for example in examples:
        if example[-1] == target_attribute:
            for i in range(len(specific_hypothesis)):
                if specific_hypothesis[i] == '?' or specific_hypothesis[i] == example[i]:
                    specific_hypothesis[i] = example[i]
                else:
                    specific_hypothesis[i] = '?'
            
            new_general_hypotheses = []
            for general in general_hypotheses:
                new_general = general[:]
                for i in range(len(new_general)):
                    if general[i] == '?' or general[i] == example[i]:
                        new_general[i] = general[i]
                    else:
                        new_general[i] = '?'
                new_general_hypotheses.append(new_general)
            
            general_hypotheses = new_general_hypotheses
        else:
            new_general_hypotheses = []
            for general in general_hypotheses:
                if not all([g == '?' or g == e for g, e in zip(general, example)]):
                    new_general = general[:]
                    for i in range(len(new_general)):
                        if new_general[i] == '?':
                            new_general[i] = example[i]
                        else:
                            new_general[i] = '?'
                    new_general_hypotheses.append(new_general)
            
            general_hypotheses = new_general_hypotheses

    return specific_hypothesis, general_hypotheses

target = 1 
hypothesis = find_s(examples, target)
print("Find-S Hypothesis:", hypothesis)

specific_hypothesis, general_hypotheses = candidate_elimination(examples, target)
print("Specific Hypothesis:", specific_hypothesis)
print("General Hypotheses:", general_hypotheses)

Find-S Hypothesis: ['?', '?', '?', '?', '?', '?', '?', '?', '?']
Specific Hypothesis: ['?', '?', '?', '?', '?', '?', '?', '?', '?']
General Hypotheses: []